.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  margin: 10px 10px 0;
  width: 60px;
}
